venv/
.idea
promo.env
__pycache__/
.vscode
locustfile.py
db.sqlite3
staticfiles
*.env
logs.txt
cron/.env.sh
.env.sh
users.csv
test.py
result_stone.csv
result_ton.csv
stone.csv
ton.csv
newrelic.ini
docker_compose_full.yml
media
script.js
testessh
local_tests
.env
.vscode
